attrs==23.2.0
bidict==0.23.1
blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
flasgger==0.9.7.1
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
h11==0.14.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.5
mistune==3.0.2
mysql==0.0.3
mysql-connector-python==8.4.0
mysqlclient==2.2.4
numpy==2.0.0
packaging==24.1
PySocks==1.7.1
python-engineio==4.9.1
python-socketio==5.11.3
PyYAML==6.0.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.18.1
simple-websocket==1.0.0
six==1.16.0
socks==0
urllib3==2.2.2
Werkzeug==3.0.3
wsproto==1.2.0
